<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="From-egreso">
    <div mat-dialog-actions>
      <h3>Crear Nuevo Préstamo</h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Custodio</mat-label>
              <mat-select
                [(ngModel)]="prestamo.id_custodio"
                (selectionChange)="onCustodioChange($event.value)"
                name="Custodios"
                required
              >
                <mat-option *ngFor="let custodio of custodios" [value]="custodio.id">
                  {{ custodio.nombre_empleado }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Departamento</mat-label>
              <mat-select
                [(ngModel)]="prestamo.id_departamento"
                name="Departamentos"
                required
              >
                <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id">
                  {{ departamento.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-6 d-flex justify-content-center">
          <mat-form-field class="w-100">
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Busqueda" #input>
          </mat-form-field>
        </div>

        <!-- Tabla -->
        <div class="row mt-3">
          <div class="col-12">
            <table mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">
              <ng-container matColumnDef="nombre_dispositivo">
                <th mat-header-cell *matHeaderCellDef> Dispositivo </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.nombre_dispositivo || 'N/A' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="haedware.marca">
                <th mat-header-cell *matHeaderCellDef> Marca </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.marca || 'N/A' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="haedware.modelo">
                <th mat-header-cell *matHeaderCellDef> Modelo </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.modelo }}
                </td>
              </ng-container>

              <ng-container matColumnDef="haedware.codigo_cne">
                <th mat-header-cell *matHeaderCellDef> Serie </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.codigo_cne }}
                </td>
              </ng-container>

              <ng-container matColumnDef="id_equipo">
                <th mat-header-cell *matHeaderCellDef> Activo </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.id_equipo || 'N/A' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox (change)="onCheckboxChange(element, $event.checked)"></mat-checkbox>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td [attr.colspan]="displayedColumns.length" class="mat-cell">
                  <div class="mensaje-no-existe-resultados text-center">
                    <mat-icon>error</mat-icon> No existen elementos para mostrar
                  </div>
                </td>
              </tr>
            </table>
            <mat-paginator
            [length]="cantidadTotal"
            [pageSize]="CantidadPagina"
            [pageSizeOptions]="tamanioPaginaOptions"
            [pageIndex]="numerPagina"
            showFirstLastButtons="true"
            (page)="cambiarPagina($event)">
            </mat-paginator>
          </div>
        </div>

        <div class="row mt-4 text-center">
          <div class="col">
            <button mat-button mat-dialog-close>Cerrar</button>
            <button mat-button type="submit" cdkFocusInitial>Crear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
