<div class="app-panel-container">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2 "*ngFor="let menu of item">        
        <mat-card *ngIf="isAuthenticated" [routerLink]="menu.link">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <p>{{ menu.label }}</p>
        </mat-card>        
      </div>
    </div>
  </div>
</div>
<p>Estoy en index home</p>
<p>¿Autenticado? {{ authService.isAuthenticated() }}</p>
<p>¿Usuario? {{ authService.getUserName() }}</p>